.post, .skeleton-post {
    background-color: transparent;
    margin-bottom: 0;
}

.post:hover {
    background-color: var(--accent-color);
}

.post:hover .buttonContainer {
    background-color: var(--accent-color);
}

.pfp {
    max-height: 80px;
}

.avatar {
    width: 46px;
    height: 46px;
}

.wrapper {
    padding: 5px;
}

.message-container .button:first-child {
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
}

.message-container .button:last-child {
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
}