@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Simvoni;
    src: url(fonts/simvoni/Simvoni.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Simvoni;
    src: url(fonts/simvoni/Simvoni-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Whitney;
    font-weight: normal;
    src: url(fonts/whitney/whitney-medium.otf) format("opentype");
}
    
@font-face {
    font-family: Whitney;
    font-weight: bold;
    src: url(fonts/whitney/whitney-bold.otf) format("opentype");
}
      
@font-face {
    font-family: Whitney;
    font-weight: 200;
    src: url(fonts/whitney/whitney-light.otf) format("opentype");
}
    
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: normal;
    src: url(fonts/whitney/whitney-mediumItalic.otf) format("opentype");
}
  
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: bold;
    src: url(fonts/whitney/whitney-semiboldItalic.otf) format("opentype");
}
  
@font-face {
    font-family: Whitney;
    font-style: italic;
    font-weight: 200;
    src: url(fonts/whitney/whitney-lightitalic.otf) format("opentype");
}
  
@font-face {
    font-family: Whitney Book;
    font-weight: normal;
    src: url(fonts/whitney/whitneybook.otf) format("opentype");
}
  
@font-face {
    font-family: Whitney Book;
    font-weight: 200;
    src: url(fonts/whitney/whitneybook-italic.otf) format("opentype");
}

@font-face {
    font-family: notoc;
    src: url(fonts/noto/notoc.ttf) format('truetype');
}

@font-face {
    font-family: Reddit Mono;
    src: url(fonts/Reddit_Mono/RedditMono-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Twemoji;
    src: url(fonts/twemoji/TwitterColorEmoji-SVGinOT.ttf) format('truetype');
}
  
@font-face {
    font-family: Barlow;
    font-weight: 100;
    src: url(fonts/Barlow/Barlow-Thin.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-weight: 200;
    src: url(fonts/Barlow/Barlow-ExtraLight.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-weight: 300;
    src: url(fonts/Barlow/Barlow-Light.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-weight: normal;
    src: url(fonts/Barlow/Barlow-Medium.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-weight: 500;
    src: url(fonts/Barlow/Barlow-Medium.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-weight: 600;
    src: url(fonts/Barlow/Barlow-SemiBold.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-weight: 700;
    src: url(fonts/Barlow/Barlow-Bold.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-weight: 800;
    src: url(fonts/Barlow/Barlow-ExtraBold.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: 100;
    src: url(fonts/Barlow/Barlow-ThinItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: 200;
    src: url(fonts/Barlow/Barlow-ExtraLightItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: 300;
    src: url(fonts/Barlow/Barlow-LightItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: normal;
    src: url(fonts/Barlow/Barlow-MediumItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Barlow/Barlow-MediumItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: 600;
    src: url(fonts/Barlow/Barlow-SemiBoldItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: 700;
    src: url(fonts/Barlow/Barlow-BoldItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Barlow;
    font-style: italic;
    font-weight: 800;
    src: url(fonts/Barlow/Barlow-ExtraBoldItalic.ttf) format("truetype");
}
  
@font-face {
    font-family: Yantramanav;
    font-weight: 100;
    src: url(fonts/Yantramanav/Yantramanav-Thin.ttf) format("truetype");
}
  
@font-face {
    font-family: Yantramanav;
    font-weight: 200;
    src: url(fonts/Yantramanav/Yantramanav-Light.ttf) format("truetype");
}
  
@font-face {
    font-family: Yantramanav;
    font-weight: 300;
    src: url(fonts/Yantramanav/Yantramanav-Regular.ttf) format("truetype");
}
  
@font-face {
    font-family: Yantramanav;
    font-weight: normal;
    src: url(fonts/Yantramanav/Yantramanav-Medium.ttf) format("truetype");
}
  
@font-face {
    font-family: Yantramanav;
    font-weight: 600;
    src: url(fonts/Yantramanav/Yantramanav-Bold.ttf) format("truetype");
}
  
@font-face {
    font-family: Yantramanav;
    font-weight: 700;
    src: url(fonts/Yantramanav/Yantramanav-Black.ttf) format("truetype");
}