        html {
            transition: none;
            background-color: transparent;
            scrollbar-width: none;
        }

        hr {
            color: var(--modal-button-color);
        }
        
        .uname {
            margin: 0;
            flex: 1;
        }

        .dm-btn {
            flex: 0.1;
            background-color: transparent;
        }

        .mdl-sec {
            width: 100%;
            max-width: 400px;
            border-radius: var(--border-radius);
        }

        .usr-header {
            display: flex;
        }
        
        #avtr-clr {
            width: 64px;
        }

        #avtr-clr, #profile-photo {
            background-color: transparent;
            padding: 4px;
        }

        #profile-photo {
            font-size: 12px;
        }

        .svg-avatar {
            background-color: #fff;
        }
        
        .sec {
            background-color: var(--modal-button-color);
            display: flex;
            align-items: center;
            margin: var(--text-margin) 0 var(--text-margin) 0;
            padding: var(--padding);
            border-radius: var(--border-radius);
            word-wrap: anywhere;
        }
                
        .quote-edit {
            font-size: 16px;
            padding: var(--padding);
        }

        .profile-qt, p {
            margin: 0;
        }