html {
    background-color: var(--background-color);
    color: var(--color);
    --font: Whitney;
    font-family: var(--font);
    transition: background-color 0.2s ease-in-out;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
}

input {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    transition: var(--transition);
}

button {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    transition: var(--transition);
}

.trans {
    background-color: transparent;
    margin: 0;
    padding: 10px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trans:hover {
    background-color: var(--hov-accent-color);
}

select {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    padding: 1em;
}

h3 {
    margin: var(--text-margin) 0 10px 0;
}

p {
    margin: var(--text-margin) 0 var(--text-margin) 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

pre {
    background: #00000050;
    padding: var(--padding);
    border-radius: var(--border-radius);
    overflow: scroll;
}

i {
    font-size: 13px;
    font-weight: normal;
}

blockquote {
    border-left: 5px solid var(--color);
    padding: 1px 1px 1px 10px;
    margin: 0 0 0 5px;
}

textarea {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    font-size: 0.813em;
    resize: none;
    transition: var(--transition);
}

textarea:focus {
    background-color: var(--hov-color);
}

hr {
    color: var(--accent-color);
    border: none;
    border-top: 1px solid;
}

ul {
    margin: var(--text-margin);
}

bridge {
    background-color: var(--primary);
    border-radius: 25px;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    font-weight: bold;
    color: #fff;
}

.launch {
    background: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launch-logo {
    animation: infinite 1s ease-in-out spin;
}

.embed {
    border-radius: var(--border-radius);
}

.info {
    padding-left: 5px;
    border: var(--border);
    border-top: none;
}

#username:hover {
    cursor: pointer;
}

.header-top {
    margin: 0;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}

#info {
    margin-top: 0;
}

#page {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    margin-top: 200px;
}

.button:hover {
    background-color: var(--hov-color);
}

.button:active {
    background-color: var(--hov-accent-color);
}

.posts, .settings, .login, .explore {
    margin: calc(var(--margin) / 2);
    /*border: 1px solid var(--accent-color);*/
}

.settings {
    margin-bottom: 10px;
}

.reply {
    border: 1px solid var(--background-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--border-radius);
}

.login {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.login-input {
    padding: 1em;
    margin-bottom: .2cm;
}

.message-container {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 1;
    border: var(--border);
}

.sub-msg-cnt {
    padding-left: calc(var(--padding) / 2);
    font-size: 14px;
    height: auto;
    overflow: hidden;
    transition: all 0.1s ease-out;
}

.message-input {
    padding: 1em;
    flex: 0.9;
    margin: calc(var(--margin)/2);
    overflow-y: hidden;
}

.message-send {
    flex: 0.2;
    margin: calc(var(--margin)/2);
    min-width: 60px;
    max-width: 75px;
}

.message-tool {
    flex: 0.1;
    margin: calc(var(--margin)/2);
    min-width: 40px;
}

.wrapper {
    padding: var(--padding);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.post {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--margin);
    word-wrap: anywhere;
    border: var(--border);
    display: flex;
}

.post:hover {
    background-color: var(--hov-accent-color);
}

.post:hover .buttonContainer {
    background-color: var(--hov-accent-color);
    display: block;
}

.buttonContainer {
    display: none;
    float: right;
}

.toolbarContainer {
    display: flex;
    flex-direction: row;
}

.mobileContainer {
    display: none;
    flex-direction: row;
}

.toolButton {
    padding: 2px;
    margin: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: var(--button-color);
  }

.toolButton:hover {
    cursor: pointer;
    color: var(--hov-button-color);
}

.toolButton:active {
    padding-top: 3px;
    padding-bottom: 2px;
}

.avatar {
    width: 100%;
    width: 54px;
    border-radius: 100px;
    box-sizing: border-box;
    aspect-ratio: 1;
    box-shadow: 0px 1px 5px #00000050;
}

.avatar:active {
    transform: translateY(2px);
    box-shadow: none;
}

.avatar-big {
    width: 96px;
    border-radius: 100px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    aspect-ratio: 1;
    box-shadow: 0px 1px 5px #00000050;
}

.svg-avatar {
    background-color: #fff;
}

.pfp {
    padding: 0 var(--padding);
    align-items: center;
    display: flex;
    max-height: calc(var(--padding)*9);
}

.date {
    margin-left: 5px;
}

.link {
    color: var(--color);
    background-color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

#main {
    flex: 1;
    max-width: 700px;
    overflow: none;
    height: auto;
    border: var(--border);
    border-top: none;
}

.side {
    flex: 0.5;
    display: flex;
    max-width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0 10px 0 10px;
}

#nav {
  justify-content: right;
}

#groups {
  justify-content: left;
  flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 70%;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.gcs {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin: 10px;
    align-items: normal;
    height: calc(100vh - 10px);
    justify-content: flex-start;
    overflow-y: auto;
    width: 70%;
}

/* make it align at the top */

.navigation-button {
    /*border-radius: 100rem;*/
    margin-bottom: var(--button-margin);
    padding: var(--button-padding);
    text-align: left;
}
/*
.navigation {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: calc(100% - 10px);
    width: 100%;
    margin: 5px;
}

.navigation-button {
    border-radius: 100rem;
    margin-bottom: 5px;
    padding: 1em 3em 1em 3em;
    margin-top: 5px;
    width: 50%;
}
possible future styling
*/
.attachment {
    color: var(--attachment-color);
    background-color: var(--attachment-background-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    transition: all 0.05s ease;
}

.attachment:hover {
    color: var(--attachment-color-hover);
    background-color: var(--attachment-background-color-hover);
    text-decoration: none;
}

.ext-link {
    color: var(--attachment-color);
    background-color: var(--attachment-background-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    transition: all 0.05s ease;
    display: inline-flex;
}

.ext-link:hover {
    color: var(--attachment-color-hover);
    background-color: var(--attachment-background-color-hover);
    text-decoration: none;
}

.ext-link-wrapper {
    display: inline-flex;
    align-items: center;
}

.link-icon-wrapper {
    display: inline-flex;
    margin-right: 3px;
}

.ext-icon {
    border-radius: 15px;
}

.icon {
  border-radius: 15px;
}

.icons {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.icon-button {
    margin: 10px;
    background: transparent;
}

.big {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-top {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 70%;
}

.groupheader {
    margin-left: 10px;
}

.modal {
    background-color: var(--modal-color);
    box-shadow: 0px 5px 10px #000;
    width: 80%;
    max-width: 400px;
    padding: var(--padding);
    height: calc(70% + 55px);
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    transform: scale(0.5);
    animation: open cubic-bezier(.2,-.25,0,1) 0.2s forwards;
}

.modal-close {
    background-color: var(--modal-button-color);
    width: 100%;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    align-self: end;
    transition: var(--transition);
}

.modal-close:hover {
    background-color: var(--hov-modal-button-color);
}

.modal-close:active {
    background-color: var(--modal-button-color);
}

.modal-back-btn {
    background-color: var(--modal-button-color);
    width: 100%;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    align-self: end;
    transition: var(--transition);
    margin-bottom: var(--margin);
}

.modal-back-btn:hover {
    background-color: var(--hov-modal-button-color);
}

.modal-back-btn:active {
    background-color: var(--modal-button-color);
}

.modal-button {
    background-color: var(--modal-button-color);
    width: 100%;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    text-align: left;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.modal-button:hover {
    background-color: var(--hov-modal-button-color);
}

.modal-button:active {
    background-color: var(--modal-button-color);
}

.modal-select {
    background-color: var(--modal-button-color);
    width: 100%;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    text-align: left;
    display: flex;
    align-items: center;
}

.modal-top {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.modal-bottom {
    width: 100%;
}

.modal-icon {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.modal-back {
    background: rgba(0,0,0,0.5); 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade cubic-bezier(.2,-.25,0,1) 0.2s forwards;
}

.mdl-txt {
    background-color: var(--modal-button-color);
    width: 100%;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    margin: var(--margin) 0;
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 100px;
    transition: var(--transition);
}

.mdl-txt:focus {
    background-color: var(--hov-modal-button-color);
}

.mdl-inp {
    background-color: var(--modal-button-color);
    flex: 1;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    margin: var(--margin) 0;
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: var(--transition);
}

.mdl-inp:focus {
    background-color: var(--hov-modal-button-color);
}

.mdl-hr {
    color: var(--modal-button-color);
}

#mdl-uptd {
    height: auto;
}

#mdl-big {
    width: 80%;
    max-width: 600px;
}

.mdl-ovr {
    overflow: auto;
}

.mod-actions {
    display: flex;
}

.md-fx {
    margin: var(--margin) 0 var(--margin) 0;
}

.md-inp-btn {
    flex: 0.15;
    margin: var(--margin) 0 var(--margin) var(--margin);
    background-color: var(--modal-button-color);
}

.md-inp-btn:hover {
    background-color: var(--hov-modal-button-color);
}

.mod-actions > :not(:first-child):not(:last-child) {
    margin: var(--margin);
}

.mod-table {
    border-radius: var(--border-radius);
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--modal-button-color);
    overflow: hidden;
}

.table-section {
    display: flex;

}

.mod-td {
    border: 1px solid var(--modal-button-color);
    width: calc(100% / 3);
    padding: var(--padding);
    overflow: scroll;
}

@keyframes popup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes open {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        background: rgba(0,0,0,0); 
    }
    to {
        background: rgba(0,0,0,0.5); 
    }
}

@keyframes slidedown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    
    75% {
        transform: rotate(1turn);
    }
    
    100% {
        transform: rotate(1turn);
    }
}

.section {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    padding: var(--padding);
}

.section-form {
    width: 100%;
    display: flex;
}

.section-input {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    padding: var(--padding);
    box-sizing: border-box;
    flex: 0.9;
    margin-right: 5px;
}

.section-input:focus {
    background-color: var(--hov-color);
}

.section-send {
    flex: 0.1;
    margin-left: 5px;
}

.hidden {
    display: none;
}

#header {
    display: none !important;
}

.desc {
    font-size: 12px;
}

.editor {
    padding: var(--padding);
    min-height: 270px;
}

.profile {
    border: none;
    width: 100%;
    height: 99%; /*temp solution*/
}

.report-box {
    background-color: var(--modal-button-color);
    border-radius: var(--border-radius);
    margin: var(--margin) 0;
    border: var(--border);
    padding: var(--padding);
}

.report-box:hover {
    background-color: var(--hov-modal-button-color);
}

.report-box:hover .buttonContainer {
    background-color: var(--hov-modal-button-color);
    display: block;
}

.report-post {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    background-color: var(--modal-color);
    box-sizing: border-box;
    word-wrap: anywhere;
    display: flex;
}

.report-user {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    background-color: var(--accent-color);
    box-sizing: border-box;
    word-wrap: anywhere;
    display: flex;
}

.mod-post {
    background-color: var(--modal-button-color);
    margin: var(--margin) 0 var(--margin) 0;
    border-radius: var(--border-radius);
    word-wrap: anywhere;
    border: var(--border);
    display: flex;
}

.mod-post:hover {
    background-color: var(--hov-modal-button-color);
}

.mdbtcntner {
    display: none;
    float: right;
}

.mod-post:hover .mdbtcntner {
    background-color: var(--hov-modal-button-color);
    display: block;
}

.custom-bg {
    --modal-button-color: #ffffff20;
    --hov-modal-button-color: #ffffff30;
    --hov-color: #ffffff20;
    --hov-accent-color: #ffffff10;
    --accent-color: #ffffff20;
    --color: #fefefe;
    color: var(--color);
}

.edit-txt {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.emojisidebar {
    display: flex;
    flex-direction: column;
}

.emojipicker {
    position: absolute;
    background-color: var(--modal-color);
    padding: var(--padding);
    margin: calc(var(--margin)/2);
    right: 80px;
    top: 50px;
    box-shadow: 0px 3px 10px #00000050;
    border-radius: var(--border-radius);
    display: flex;
    width: 570px;
    min-width: 314px;
    max-width: 629px;
    overflow: auto;
    resize: horizontal;
    transform: translateY(0px);
    animation: slidedown cubic-bezier(.2,-.25,0,1) 0.2s forwards;
}

.emojisec {
    display: flex;
    flex-wrap: wrap;
}

.emojicont {
    padding-left: var(--padding);
    overflow-y: scroll;
    max-height: 430px;
    scrollbar-width: none;
    width: 100%;
}

.emojiheader {
    margin: calc(var(--margin)/2);
}

.emojibutton {
    background-color: var(--modal-button-color);
    font-size: 24px;
    padding: var(--padding);
    margin: calc(var(--margin)/2);
    width: 52.95px;
    height: 52.95px;
}

.emojibutton:hover {
    background-color: var(--hov-modal-button-color);
}

.emojibuttonside {
    background-color: var(--modal-button-color);
    font-size: 16px;
    padding: var(--padding);
    margin: calc(var(--margin)/2);
}

.emojisearch {
    position: sticky;
    display: flex;
    top: 0;
    background-color: var(--modal-color);
    padding: calc(var(--padding)/2) 0;
}

.emjinpt {
    background-color: var(--modal-button-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    padding: var(--padding);
    box-sizing: border-box;
    flex: 1;
    margin: 0 calc(var(--margin)/2);
}

.emjinpt:focus {
    background-color: var(--hov-modal-button-color);
}

.emoji-back {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 480px) {
    .modal {
        width: 100%;
        max-width: 100%;
        height: 85%;
        position: fixed;
        padding-bottom: 50px;
        bottom: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateY(-50%);
        animation: popup cubic-bezier(.2,-.25,0,1) 0.2s forwards;
    }

    .modal-back-btn {
        border-radius: 100px;
    }

    .modal-close {
        border-radius: 100px;
    }
    
    .modal-button {
        border-radius: 100px;
        padding: 10px 15px 10px 15px;
    }

    .modal-back {
        background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%); 
    }

    #mdl-big {
        width: 100%;
    }

    @keyframes fade {
        from {
            background: linear-gradient(0deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%); 
        }
        to {
            background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%); 
        }
    }
    
    #page {
        justify-content: normal;
        overflow-x: scroll;
        overflow-y: hidden;
        grid-template-rows: 1;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scrollbar-color: transparent;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    
    #page::-webkit-scrollbar {
        -webkit-appearance: none; 
        width: 0;
        height: 0;
        display: none;
    }

    .side {
        flex: none;
        width: 100vw;
        scroll-snap-align: center;
        
    }

    #main {
        flex: none;
        width: 100vw;
        scroll-snap-align: center;
        overflow: scroll;
        height: 100vh;
    }

    #msgs {
        margin-bottom: 60px;
    }
    
    .navigation {
        margin-left: 10px;
        align-items: normal;
        height: calc(100vh - 50px);
    }

    .gcs {
        margin-left: 10px;
        margin-top: 10px;
        align-items: normal;
        height: calc(100vh - 60px);
        justify-content: flex-start;
        overflow: scroll;
    }

    .buttonContainer {
        display: none;
    }

    .post:hover .buttonContainer {
        display: none;
    }

    .toolbarContainer {
        flex-direction: column;
    }

    .toolButton {
        color: var(--color);
    }

    .groupheader {
        display: none;
    }

    .mobileContainer {
        display: flex;
        float: right;
    }
    
    .post:hover {
        background-color: var(--accent-color);
    }

    bridge {
        display: none;
    }

    .date {
        font-size: 12px;
    }

    .embed {
        max-width: 100% !important;
    }

    .mdbtcntner {
        display: block;
        float: right;
    }

    .report-box .buttonContainer {
        display: block;
    }

    .report-box:hover, .report-box:hover .buttonContainer {
        background-color: var(--modal-button-color);
    }
    
    .mod-post:hover .mdbtcntner {
        background-color: var(--modal-button-color);
        display: block;
    }
    
    .mod-post:hover {
        background-color: var(--modal-button-color);
    }

    .modal-button:hover {
        background-color: var(--modal-button-color);
    }

    .modal-back-btn:hover {
        background-color: var(--modal-button-color);
    }

    .modal-close:hover {
        background-color: var(--modal-button-color);
    }

    .ext-link:hover {
        color: var(--attachment-color);
        background-color: var(--attachment-background-color);
        text-decoration: none;
    }

    .attachment:hover {
        color: var(--attachment-color-hover);
        background-color: var(--attachment-background-color-hover);
        text-decoration: none;
    }

    .button:hover {
        background-color: var(--accent-color);
    }

    .modal-button:active {
        background-color: var(--hov-modal-button-color);
    }

    .modal-back-btn:active {
        background-color: var(--hov-modal-button-color);
    }

    .modal-close:active {
        background-color: var(--hov-modal-button-color);
    }


    .ext-link:active {
        color: var(--attachment-color-hover);
        background-color: var(--attachment-background-color-hover);
        text-decoration: none;
    }

    .attachment:active {
        color: var(--attachment-color-hover);
        background-color: var(--attachment-background-color-hover);
        text-decoration: none;
    }

    .button:active {
        background-color: var(--hov-accent-color);
    }

    .launch-logo {
        animation: none;
    }

    .emoji-button {
        display: none;
    }
}