html {
    background-color: var(--background-color);
    color: var(--color);
    --font: Whitney;
    font-family: var(--font);
    transition: background-color 0.25s ease-in-out;
}

body {
    margin: 0;
}

input {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    transition: var(--transition);
}

button {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    transition: var(--transition);
}

.trans {
    background-color: transparent;
    margin: 0;
    padding: 10px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trans:hover {
    background-color: var(--hov-accent-color);
}

select {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    padding: 1em;
}

h3 {
    margin: var(--text-margin) 0 10px 0;
}

p {
    margin: var(--text-margin) 0 var(--text-margin) 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

code {
    background-color: #00000020;
}

i {
    font-size: 13px;
    font-weight: normal;
}

blockquote {
    border-left: 5px solid var(--color);
    padding: 1px 1px 1px 10px;
    margin: 0 0 0 5px;
}

textarea {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    font-size: 0.813em;
    resize: none;
    transition: var(--transition);
}

bridge {
    background-color: #714cc8;
    border-radius: 25px;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    font-weight: bold;
    color: #fff;
}

.launch {
    background: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text:focus {
    background-color: var(--hov-color);
}

.button:hover, .button:focus {
    background-color: var(--hov-color);
}

.embed {
    border-radius: var(--border-radius);
}

.info {
    padding-left: 5px;
    border: var(--border);
    border-top: none;
}

.header-top {
    margin: 0;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}

#info {
    margin-top: 0;
}

#page {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    margin-top: 200px;
}

.posts, .settings, .login {
    margin: calc(var(--margin) / 2);
    /*border: 1px solid var(--accent-color);*/
}

.reply {
    margin: 5px;
    border: 1px solid var(--background-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--border-radius);
}

.login {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.login-input {
    padding: 1em;
    margin-bottom: .2cm;
}

.message-container {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 1;
    border: var(--border);
}

.message-input {
    padding: 1em;
    flex: 0.9;
    margin: 5px;
    overflow-y: hidden;
}

.message-send {
    flex: 0.1;
    margin: 5px;
}

.post {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-bottom: var(--margin);
    word-wrap: anywhere;
    border: var(--border);
}

.post:hover {
    background-color: var(--hov-accent-color);
}

.post:hover .buttonContainer {
    background-color: var(--hov-accent-color);
    display: block;
}

.buttonContainer {
    display: none;
    float: right;
}

.toolbarContainer {
    display: flex;
    flex-direction: row;
}

.toolButton {
    padding: 2px;
    margin: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: var(--button-color);
  }

.toolButton:hover {
    cursor: pointer;
    color: var(--hov-button-color);
}

.date {
    margin-left: 5px;
}

.link {
    color: var(--color);
    background-color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

#main {
    flex: 1;
    max-width: 700px;
    overflow: none;
    height: auto;
    border: var(--border);
    border-top: none;
}

.side {
    flex: 0.5;
    display: flex;
    max-width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0 10px 0 10px;
}

#nav {
  justify-content: right;
}

#groups {
  justify-content: left;
  flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 70%;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.gcs {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin: 10px;
    align-items: normal;
    height: calc(100vh - 10px);
    justify-content: flex-start;
    overflow-y: scroll;
    width: 70%;
}

/* make it align at the top */

.navigation-button {
    /*border-radius: 100rem;*/
    margin-bottom: var(--button-margin);
    padding: var(--button-padding);
    text-align: left;
}
/*
.navigation {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: calc(100% - 10px);
    width: 100%;
    margin: 5px;
}

.navigation-button {
    border-radius: 100rem;
    margin-bottom: 5px;
    padding: 1em 3em 1em 3em;
    margin-top: 5px;
    width: 50%;
}
possible future styling
*/
.attachment {
    color: var(--attachment-color);
    background-color: var(--attachment-background-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    transition: all 0.05s ease;
}

.attachment:hover {
    color: var(--attachment-color-hover);
    background-color: var(--attachment-background-color-hover);
    text-decoration: none;
}

.icon {
  border-radius: 15px;
}

.icons {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.icon-button {
    margin: 10px;
    background: transparent;
}

.big {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-top {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.groupheader {
    margin-left: 10px;
}

@media screen and (max-width: 480px) {
    
    #page {
        justify-content: normal;
        overflow-x: scroll;
        overflow-y: hidden;
        grid-template-rows: 1;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scrollbar-color: transparent;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        
    }
    
    #page::-webkit-scrollbar {
        -webkit-appearance: none; 
        width: 0;
        height: 0;
        display: none;
    }

    .side {
        flex: none;
        width: 100vw;
        scroll-snap-align: center;
        
    }
    
    #main {
        flex: none;
        width: 100vw;
        scroll-snap-align: center;
        overflow: scroll;
        height: 100vh;
    }

    #msgs {
        margin-bottom: 60px;
    }
    
    .navigation {
        margin-left: 10px;
        align-items: normal;
        height: calc(100vh - 50px);
    }

    .gcs {
        margin-left: 10px;
        margin-top: 10px;
        align-items: normal;
        height: calc(100vh - 60px);
        justify-content: flex-start;
        overflow: scroll;
    }

    .launch {
        background: #b190fe;
    }

    .buttonContainer {
        display: block;
        float: right;
    }

    .toolbarContainer {
        flex-direction: column;
    }

    .groupheader {
        display: none;
    }
}

.hidden {
    display: none;
}

#header {
    display: none !important;
}