html {
    background-color: var(--background-color);
    color: var(--color);
    --font: Whitney;
    font-family: var(--font);
    transition: background-color 0.25s ease-in-out;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
}

input {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    transition: var(--transition);
}

button {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    transition: var(--transition);
}

.trans {
    background-color: transparent;
    margin: 0;
    padding: 10px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trans:hover {
    background-color: var(--hov-accent-color);
}

select {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    padding: 1em;
}

h3 {
    margin: var(--text-margin) 0 10px 0;
}

p {
    margin: var(--text-margin) 0 var(--text-margin) 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

code {
    background-color: #00000020;
}

i {
    font-size: 13px;
    font-weight: normal;
}

blockquote {
    border-left: 5px solid var(--color);
    padding: 1px 1px 1px 10px;
    margin: 0 0 0 5px;
}

textarea {
    background-color: var(--accent-color);
    color: var(--color);
    border: none;
    border-radius: var(--button-radius);
    outline: none;
    font-family: var(--font);
    font-weight: 400;
    font-size: 0.813em;
    resize: none;
    transition: var(--transition);
}

textarea:focus {
    background-color: var(--hov-color);
}

hr {
    color: var(--accent-color);
}

bridge {
    background-color: var(--primary);
    border-radius: 25px;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    font-weight: bold;
    color: #fff;
}

.launch {
    background: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.embed {
    border-radius: var(--border-radius);
}

.info {
    padding-left: 5px;
    border: var(--border);
    border-top: none;
}

#username:hover {
    cursor: pointer;
}

.header-top {
    margin: 0;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}

#info {
    margin-top: 0;
}

#page {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    margin-top: 200px;
}


.button:hover, .button:focus {
    background-color: var(--hov-color);
}

.posts, .settings, .login {
    margin: calc(var(--margin) / 2);
    /*border: 1px solid var(--accent-color);*/
}

.settings {
    margin-bottom: 10px;
}

.reply {
    border: 1px solid var(--background-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--border-radius);
}

.login {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.login-input {
    padding: 1em;
    margin-bottom: .2cm;
}

.message-container {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 1;
    border: var(--border);
}

.message-input {
    padding: 1em;
    flex: 0.9;
    margin: 5px;
    overflow-y: hidden;
}

.message-send {
    flex: 0.1;
    margin: 5px;
}

.wrapper {
    padding: var(--padding);
    width: 100%;
}

.post {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--margin);
    word-wrap: anywhere;
    border: var(--border);
    display: flex;
}

.post:hover {
    background-color: var(--hov-accent-color);
}

.post:hover .buttonContainer {
    background-color: var(--hov-accent-color);
    display: block;
}

.buttonContainer {
    display: none;
    float: right;
}

.toolbarContainer {
    display: flex;
    flex-direction: row;
}

.mobileContainer {
    display: none;
    flex-direction: row;
}

.toolButton {
    padding: 2px;
    margin: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: var(--button-color);
  }

.toolButton:hover {
    cursor: pointer;
    color: var(--hov-button-color);
}

.avatar {
    width: 100%;
    width: 54px;
    border-radius: 100px;
    margin: var(--text-margin) 0 10px 0;
    box-sizing: border-box;
    aspect-ratio: 1;
}

.avatar-big {
    width: 96px;
    border-radius: 100px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    aspect-ratio: 1;
}

.pfp {
    padding: 0 var(--padding);
    align-items: center;
    display: flex;
    height: 90px;
}

.date {
    margin-left: 5px;
}

.mobile-date {
    margin-left: 5px;
    display: none;
    font-size: 12px;
}

.link {
    color: var(--color);
    background-color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

#main {
    flex: 1;
    max-width: 700px;
    overflow: none;
    height: auto;
    border: var(--border);
    border-top: none;
}

.side {
    flex: 0.5;
    display: flex;
    max-width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0 10px 0 10px;
}

#nav {
  justify-content: right;
}

#groups {
  justify-content: left;
  flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 70%;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.gcs {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin: 10px;
    align-items: normal;
    height: calc(100vh - 10px);
    justify-content: flex-start;
    overflow-y: auto;
    width: 70%;
}

/* make it align at the top */

.navigation-button {
    /*border-radius: 100rem;*/
    margin-bottom: var(--button-margin);
    padding: var(--button-padding);
    text-align: left;
}
/*
.navigation {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: calc(100% - 10px);
    width: 100%;
    margin: 5px;
}

.navigation-button {
    border-radius: 100rem;
    margin-bottom: 5px;
    padding: 1em 3em 1em 3em;
    margin-top: 5px;
    width: 50%;
}
possible future styling
*/
.attachment {
    color: var(--attachment-color);
    background-color: var(--attachment-background-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    transition: all 0.05s ease;
}

.attachment:hover {
    color: var(--attachment-color-hover);
    background-color: var(--attachment-background-color-hover);
    text-decoration: none;
}

.ext-link {
    color: var(--attachment-color);
    background-color: var(--attachment-background-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    transition: all 0.05s ease;
    display: inline-flex;
}

.ext-link:hover {
    color: var(--attachment-color-hover);
    background-color: var(--attachment-background-color-hover);
    text-decoration: none;
}

.ext-link-wrapper {
    display: inline-flex;
    align-items: center;
}

.link-icon-wrapper {
    display: inline-flex;
    margin-right: 3px;
}

.ext-icon {
    border-radius: 15px;
}

.icon {
  border-radius: 15px;
}

.icons {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.icon-button {
    margin: 10px;
    background: transparent;
}

.big {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-top {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 70%;
}

.groupheader {
    margin-left: 10px;
}

.modal {
    background-color: var(--modal-color);
    box-shadow: 0px 5px 10px #000;
    width: 400px;
    padding: var(--padding);
    height: calc(60% + 50px);
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    transform: scale(0.5);
    animation: open cubic-bezier(.2,-.25,0,1) 0.2s forwards;
}

.modal-close {
    background-color: var(--modal-button-color);
    width: 100%;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    align-self: end;
}

.modal-button {
    background-color: var(--modal-button-color);
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 100px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: left;
    display: flex;
    align-items: center;
}

.modal-top {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.modal-icon {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.modal-back {
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%); 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

@keyframes popup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes open {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    
    .modal {
        width: 100%;
        position: fixed;
        padding-bottom: 50px;
        bottom: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateY(-50%);
        animation: popup cubic-bezier(.2,-.25,0,1) 0.2s forwards;
    }

    .modal-close {
        border-radius: 100px;
    }
    
    #page {
        justify-content: normal;
        overflow-x: scroll;
        overflow-y: hidden;
        grid-template-rows: 1;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scrollbar-color: transparent;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        
    }
    
    #page::-webkit-scrollbar {
        -webkit-appearance: none; 
        width: 0;
        height: 0;
        display: none;
    }

    .side {
        flex: none;
        width: 100vw;
        scroll-snap-align: center;
        
    }

    #main {
        flex: none;
        width: 100vw;
        scroll-snap-align: center;
        overflow: scroll;
        height: 100vh;
    }

    #msgs {
        margin-bottom: 60px;
    }
    
    .navigation {
        margin-left: 10px;
        align-items: normal;
        height: calc(100vh - 50px);
    }

    .gcs {
        margin-left: 10px;
        margin-top: 10px;
        align-items: normal;
        height: calc(100vh - 60px);
        justify-content: flex-start;
        overflow: scroll;
    }

    .launch {
        background: var(--secondary);
    }

    .buttonContainer {
        display: none;
    }

    .post:hover .buttonContainer {
        display: none;
    }

    .toolbarContainer {
        flex-direction: column;
    }

    .toolButton {
        color: var(--color);
    }

    .groupheader {
        display: none;
    }

    .mobileContainer {
        display: flex;
        float: right;
    }
    
    .post:hover {
        background-color: var(--accent-color);
    }

    bridge {
        display: none;
    }

    .date {
        display: none;
    }

    .mobile-date {
        display: inline-block;
    }

    .embed {
        max-width: 100% !important;
    }
}

.hidden {
    display: none;
}

#header {
    display: none !important;
}

.desc {
    font-size: 12px;
}

.editor {
    padding: var(--padding);
    min-height: 270px;
}

.profile {
    border: none;
    width: 100%;
    height: 100%;
}
