:root {
    --background-color: #1a1b1e;
    --color: #fefefe;
    --accent-color: #3a3d43;
    --hov-accent-color: #323439;
    --hov-color: #4a4d56;
    --link-color: #00abd2;
    --attachment-background-color: #3c286b;
    --attachment-color: #b190fe;
    --attachment-background-color-hover: #b190fe;
    --attachment-color-hover: #fefefe;
    --button-color: #a5abb3;
    --hov-button-color: #fefefe;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
    --transition: all 0.05s ease;
    --border: none;
    --border-radius: 5px;
    --button-radius: 5px;
    --margin: 10px;
    --text-margin: 10px;
    --padding: 10px;
    --button-padding: 1em;
    --button-margin: 10px;
}

.dark-theme {
    --background-color: #1a1b1e;
    --color: #fefefe;
    --accent-color: #3a3d43;
    --hov-accent-color: #323439;
    --hov-color: #4a4d56;
    --link-color: #00abd2;
    --attachment-background-color: #3c286b;
    --attachment-color: #b190fe;
    --attachment-background-color-hover: #b190fe;
    --attachment-color-hover: #fefefe;
    --button-color: #a5abb3;
    --hov-button-color: #fefefe;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
}

.light-theme {
    --background-color: #fefefe;
    --color: #383a41;
    --accent-color: #dbe0e8;
    --hov-accent-color: #e7eaee;
    --hov-color: #d2d6dd;
    --link-color: #5023b6;
    --attachment-background-color: #d4c1ff;
    --attachment-color: #513593;
    --attachment-background-color-hover: #b190fe;
    --attachment-color-hover: #fefefe;
    --button-color: #676d7a;
    --hov-button-color: #383a41;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
}

.blurple-theme {
    --background-color: #15141a;
    --color: #f5f8fb;
    --accent-color: #24222f;
    --hov-accent-color: #2e2b3a;
    --hov-color: #2e2b3a;
    --link-color: #00abd2;
    --attachment-background-color: #1b1e49;
    --attachment-color: #a0a4d1;
    --attachment-background-color-hover: #5865f2;
    --attachment-color-hover: #fefefe;
    --button-color: #9792a9;
    --hov-button-color: #f6f5fb;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
}

.flamingo-theme {
    --background-color: #0c0303;
    --color: #f5f8fb;
    --accent-color: #200a0f;
    --hov-accent-color: #250c12;
    --hov-color: #3a121c;
    --link-color: #00abd2;
    --attachment-background-color: #1b1e49;
    --attachment-color: #a0a4d1;
    --attachment-background-color-hover: #7236f9;
    --attachment-color-hover: #fefefe;
    --button-color: #7a2c3f;
    --hov-button-color: #f6f5fb;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
}

.oled-theme {
    --background-color: #000;
    --color: #fefefe;
    --accent-color: #060707;
    --hov-accent-color: #0d0e0f;
    --hov-color: #0d0e0f;
    --link-color: #00abd2;
    --attachment-background-color: #3c286b;
    --attachment-color: #b190fe;
    --attachment-background-color-hover: #b190fe;
    --attachment-color-hover: #fefefe;
    --button-color: #31363c;
    --hov-button-color: #fefefe;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
}


.cosmic-theme {
    --background-color: #fff8e7;
    --color: #413f38;
    --accent-color: #f1ead9;
    --hov-accent-color: #e3ddcd;
    --hov-color: #e6ddc9;
    --link-color: #ad8335;
    --attachment-background-color: #e7d092;
    --attachment-color: #9d7222;
    --attachment-background-color-hover: #ad8335;
    --attachment-color-hover: #fefefe;
    --button-color: #8f8b7c;
    --hov-button-color: #413f38;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
}

.midnight-theme {
    --background-color: #08070d;
    --color: #fefefe;
    --accent-color: #171427;
    --hov-accent-color: #1f1b33;
    --hov-color: #1f1b33;
    --link-color: #00abd2;
    --attachment-background-color: #3c286b;
    --attachment-color: #b190fe;
    --attachment-background-color-hover: #b190fe;
    --attachment-color-hover: #fefefe;
    --button-color: #74708c;
    --hov-button-color: #fefefe;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
    --transition: all 0.05s ease;
    --border: none;
    --border-radius: 5px;
    --button-radius: 5px;
    --margin: 10px;
    --text-margin: 10px;
    --padding: 10px;
    --button-padding: 1em;
    --button-margin: 10px;
}

.midnight-twitter-theme {
    --background-color: #08070d;
    --color: #fefefe;
    --accent-color: transparent;
    --hov-accent-color: #0e0c17;
    --hov-color: #0e0c17;
    --link-color: #00abd2;
    --attachment-background-color: #3c286b;
    --attachment-color: #b190fe;
    --attachment-background-color-hover: #b190fe;
    --attachment-color-hover: #fefefe;
    --button-color: #362f59;
    --hov-button-color: #fefefe;
    --blue: #00abd2;
    --green: #32E875;
    --red: #cc2936;
    --magenta: #F04290;
    --border: 2px solid #1f1b33;
    --border-radius: 0;
    --button-radius: 10em;
    --margin: 0;
}

.roarer-theme {
    --background-color: #020617;
    --color: #e2e8f0;
    --accent-color: #1e293b;
    --hov-accent-color: #1e293b;
    --hov-color: #1e293b;
    --link-color: #38bdf8;
    --attachment-background-color: #1e293b;
    --attachment-color: #38bdf8;
    --attachment-background-color-hover: #1e293b;
    --attachment-color-hover: #e2e8f0;
    --button-color: #e2e8f0;
    --hov-button-color: #e2e8f0;
    --border: none;
    --border-radius: 0.75rem;
    --button-radius: 0.75rem;
    --margin: 0.5rem;
    --text-margin: 0px;
    --padding: 0.5rem;
    --button-padding: 0.5rem;
    --button-margin: 0.5rem;
}

.quake-pro-theme {
    --border: none;
    --border-radius: 5px;
    --button-radius: 5px;
    --margin: 0.5em;
    --text-margin: 0.25em;
    --padding: 0.25em;
    --button-padding: 0.5em;
    --button-margin: 0.5em;
}

/* Buttons (I know it's redundant)*/
.theme-buttons-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.theme-button {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    margin: 5px;
}

.dark-button {
    background: #1a1b1e;
    color: #f5f8fb;
    border: 1px solid var(--background-color);
}

.light-button {
    background: #fff;
    color: #383a41;
    border: 1px solid var(--background-color);
}

.cosmic-button {
    background: #fff8e7;
    color: #413f38;
    border: 1px solid var(--background-color);
}

.blurple-button {
    background: #15141a;
    color: #f5f8fb;
    border: 1px solid var(--background-color);
}

.flamingo-button {
    background: #0c0303;
    color: #f5f8fb;
    border: 1px solid var(--background-color);
}

.oled-button {
    background: #000;
    color: #f5f8fb;
    border: 1px solid var(--background-color);
}

.midnight-button {
    background: #08070d;
    color: #f5f8fb;
    border: 1px solid var(--background-color);
}

.roarer-button {
    background: #020617;
    color: #e2e8f0;
    border: 1px solid var(--background-color);
}

.selected {
    border: 3px solid var(--accent-color);
}