
.tooltip {
    position: relative;
}

.tooltip::before, .tooltip::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}

.tooltip::before {
    content: "";
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
    top: -20px;
    margin-left: -8px;
    z-index: 1;
}

.tooltip::after {
    content: attr(data-tooltip);
    background: #111;
    top: -20px;
    transform: translateY(-100%) translateX(-50%);
    font-size: 12px;
    width: 80px;
    border-radius: 10px;
    color: var(--color-on);
    padding: 12px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip.left::after, .tooltip:last-child::after {
    transform: translateY(-100%) translateX(-80%);
}

.tooltip.bottom::before {
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #111 transparent;
    top: 100%;
    margin-top: 5px;
    margin-left: -8px;
}

.tooltip.bottom::after {
    top: 100%;
    transform: translateY(0) translateX(-50%);
    margin-top: 15px;
}


.tooltip.right::after {
    transform: translateY(-1px) translateX(-25%);
}

.tooltip.long::after {
    width: 150px;
} 

.tooltip:hover::before, .tooltip:hover::after{
    opacity: 1;
}