html {
    transition: none;
    background-color: transparent !important;
    scrollbar-width: none;
    scrollbar-gutter: auto;
}

p {
    margin: var(--margin) 0;
}

h1 {
    margin: var(--margin) 0;
}

hr {
    color: var(--modal-button-color);
}

#page {
    overflow-x: hidden !important;
}

.username {
    margin: 0;
}

.username:hover {
    cursor: pointer;
}

.dm-btn {
    width: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.mdl-sec {
    width: 100%;
    max-width: 480px;
    border-radius: var(--border-radius);
}

.usr-header {
    display: flex;
}

#avtr-clr {
    width: 64px;
}

#avtr-clr,
#profile-photo {
    background-color: transparent;
    padding: 4px;
}

.svg-avatar {
    background-color: #fff;
}

.sec {
    background-color: var(--modal-button-color);
    display: flex;
    align-items: center;
    margin: var(--text-margin) 0 var(--text-margin) 0;
    padding: var(--padding);
    border-radius: var(--border-radius);
    word-wrap: anywhere;
}

.quote-edit {
    font-size: 16px;
    padding: var(--padding);
    border: 2px dashed;
}

.updt-prfl {
    margin-top: 10px;
    margin-bottom: 0;
}

.profile-qt,
p {
    margin: 0;
}

.custom-bg > button,
.custom-bg > .mdl-txt,
.custom-bg > .sec {
    border: 1px solid #ffffff20;
}

.button:disabled {
    opacity: 0.5;
}

.custom-bg .quote-edit {
    border: 2px dashed #ffffff20;
}

.custom-bg {
    color: var(--color);
}

.custom-bg a {
    color: var(--accent);
}

.custom-bg a:hover {
    color: var(--accent);
}

.edit {
    display: flex;
    justify-content: space-between;
}

.usr-header-inner {
    display: flex;
    align-items: baseline;
    gap: 6px;
    overflow: hidden;
}

.pronouns {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.usr-buttons-inner {
    flex: 1;
    display: flex;
    justify-content: right;
}

.warn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.embedded {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.embedded #page {
    width: 100%;
    max-width: 480px;
}

.openin {
    width: 100%;
    height: 100%;
}

.openin:hover {
    text-decoration: none;
}